* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.bgclr {
  /* background-color: #a0d5cc85; */
  margin: 0 auto;
  padding: 15px; /* Add padding for better spacing */
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.alin {
  justify-content: center;
  display: flex;
}