
    <div class="container">
        <h2>Our Story</h2>
        <p>
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque suscipit magnam sunt doloremque quibusdam illum nesciunt consequuntur illo? Sed quisquam distinctio quaerat! Minus eius quas necessitatibus impedit quos soluta! Provident laboriosam atque libero veritatis omnis minus, deserunt facilis vitae, architecto beatae cumque suscipit est officiis asperiores fuga? Harum, dolores sint.
        </p>

        <h2>Our Mission</h2>
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cum magnam, repellat nulla in est ad distinctio modi autem dolore tempora, corporis ex facere ab aliquam nesciunt explicabo pariatur ipsum beatae nihil animi esse? Nostrum impedit eum velit totam laboriosam quibusdam ex possimus corrupti sed neque blanditiis delectus, voluptatibus ratione.
        </p>

        <h2>Our Team</h2>
        <div class="team-members">
            <div class="team-member">
                <img src="./assets/aboutimage/member1.jpg" alt="Team Member 1">
                <p>John Doe<br>CEO</p>
            </div>
            <div class="team-member">
                <img src="./assets/aboutimage/member2.webp" alt="Team Member 2">
                <p>Jane Smith<br>CTO</p>
            </div>
            <div class="team-member">
                <img src="./assets/aboutimage/member3.jpg" alt="Team Member 3">
                <p>Bob Johnson<br>COO</p>
            </div>
        </div>
    </div>

