<nav class="navbar navbar-expand-lg  positions bg-info">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="/">
      <img class="circular--portrait" src="./assets/Logo/logo.png" alt="Logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contactus">Contact us</a>
        </li>
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" name="in" [(ngModel)]="userInput" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success btn-color" name="in" type="submit" (click)="onSearch()">Search</button>
      </form>
    </div>
  </div>
</nav>

<!-- content  -->
<div><router-outlet></router-outlet></div>

  <!-- footer start .  -->
  <footer class="text-center bg-secondary">
    <!-- Copyright -->
    <div class="text-center p-3 copyright" style="background-color: rgba(0, 0, 0, 0.05); ">
      © 2024 Copyright:
      <p>watchmode</p>
    </div>
    <!-- Copyright -->
  </footer>



