<body>
    <div class="container">
        <div class="row">
            <h1>Contact Us</h1>
        </div>
        <div class="row">
            <h4 class="center-text">We'd love to hear from you!</h4>
        </div>
        <div class="social-media-links">
            <a href="https://www.linkedin.com/in/kundan-kumar-841843225/" target="_blank" class="social-link">
                <img src="./assets/socialMedia/linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://www.instagram.com/krish.na.singh?igsh=M2lpYXprZHk0MnJy" target="_blank" class="social-link">
                <img src="./assets/socialMedia/instagram.jpg" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100024114456367" target="_blank" class="social-link">
                <img src="./assets/socialMedia/facebook.png" alt="Facebook">
            </a>
            <a href="https://github.com/mindexpert7546" target="_blank" class="social-link">
                <img src="./assets/socialMedia/github.png" alt="GitHub">
            </a>
        </div>
    </div>
</body>