body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.row {
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

.center-text {
    text-align: center;
}

.social-media-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-link img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border-radius: 50%;
}

.social-link {
    text-decoration: none;
    transition: transform 0.3s ease;
}

.social-link:hover {
    transform: scale(1.1);
}
